{% extends 'base.html.twig' %}

{% block content %}

 {{ include ('LoginLoginBundle:Default:VerticalBar.html.twig') }} 
 <div class="Encadrement">
 <h1 class="Avatar">Carnet d'adresse</h1>
 
 <div class="wrap">
	<div class="cube">
		<div class="front">Adresse</div>
		<div class="back">Téléphone</div>
		<div class="top"></div>
		<div class="bottom"></div>
		<div class="left">Email</div>
		<div class="right">Mes Favoris</div>
	</div>
</div>
 
</div> 
 
 

{% endblock %}