{% extends 'base.html.twig' %}



{% block content %}
{{ include ('LoginLoginBundle:Default:VerticalBar.html.twig') }} 



<div class="Encadrement">
<div class="fenetre">

			<h1 class="Avatar">Fiche {{ nom }} {{ prenom }}</h1>
{% endblock %}