@CHARSET "UTF-8";

#avatar_file {
	font-size:25px;
}

.Avatar{
	

	text-shadow: 0px 9px 9px #4d4d4d,5px 5px 0px #5c5f72;;
	color: #d7ceb2;;

	font: 40px 'LeagueGothicRegular';

	text-align:center;
}
	
