@CHARSET "UTF-8";

/*
 * Permet d'obtenir le résutat global de contact dans le carnet
 *  On va afficher par la suite un avatar pour une meilleur compréhension
 *
 */


.count {
	
	width:300px;
	height:100px;
	margin-left : 1000px;
	font-size:20px;
	
}
/*
 * Permet d'obtenir une barre Alphabétique pour rechercher 
 * les contacts en fonction de la première lettre du contact 
 */

.alphabetic
{
	width : 40px;
	height:800px;
	
	margin-left : 1500px;
	margin-top : -1000px;
	font-size:65px;
}

.alphabetic :hover,
.alphabetic :focus
{
	background: violet;
}



.personne
{

	
	background :DarkSlateGray;
	color:white;
	font-size:20px;
	margin-left:90px;
	margin-top:50px;
	
	
}

.Entete
{
	height:20px;
	font-size:25px;
	
}
.Line
{
	height:400px;
	font-weight : bold;
	font-style : italic;
	
}

.picture
{
	width:300px;
	height:200px;
	
}
.Nom
{
	width:400px;
	height:200px;
	
}
.Prenom
{
	margin-left:40px;
	width:300px;
	height:200px;
	
}
