body{
	
	background:#C0C0C0;
}


.navbar-static-top
{
	margin-top:-20px;
	width :350px;
	height:1400px;
	font-size:25px;
	
}

.container{
	margin-top:20px;
	padding:5px;
	
	width :300px;
	
}

.divider-vertical{
	
	padding:40px;
	
	
	
}

.fond{
	
	width:400px;
	height:auto;
}